attrdict==2.0.0
attrs==16.1.0  
-e git+git@repo.aaaaa.com:backend/libs/cusutil.git@6af3dd0f029f3ea5e57ab5d835ada5313d0e0023a#egg=cusutil
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
boto==2.39.0
boto3==1.3.0
botocore==1.4.9
bs4==0.0.1
captcha==0.2.1
certifi==2017.4.17
charade==1.0.3
chardet==3.0.4
cssselect==0.9.1
cssutils==1.0.1
Django==1.9.1
django-rundirect==0.2.0
django-url-decr==0.2.0
docutils==0.12
emails==0.5.5
et-xmlfile==1.0.1
fluent-logger==0.4.4
futures==3.0.5
gatool==0.1.1
gevent==1.1.2
greenlet==0.4.10
gsasync==0.4.1
hostsed==0.1.3
httplib2==0.9.2
idna==2.5
jdcal==1.2
jieba==0.38
jmespath==0.9.0
lxml==3.5.0
mongoengine==0.10.6
msgpack-python==0.4.8
MySQL-python==1.2.5
numpy==1.11.0
openpyxl==2.3.5
pandas==0.18.0
phone==0.4.0
Pillow==8.1.1
pinyin==0.4.0
premailer==2.11.0
pycallgraph==1.0.1
pymongo==3.2
pymssql==2.1.3
PyMySQL==0.7.10
pyquery==1.2.11
python-dateutil==2.5.2
python-docx==0.8.6
python-Levenshtein==0.12.0
python-memcached==1.57
pytz==2016.3
qiniu==7.1.9
ravenmsg==0.2.1
redis==2.10.5
requests==2.18.1
simplejson==3.11.1
singledispatch==3.4.0.3
sitemap-python==0.2.0
six==1.10.0
suds==0.4
toolz==0.8.0
tornado==4.3
uritemplate==0.6
urllib3==1.21.1
uWSGI==2.0.15
uwsgitop==0.10
xlrd==1.0.0
xlwt==1.2.0
xmltodict==0.10.2
ynm3k==0.2.0
